.background, .Item{
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.menu .label{
	-fx-text-fill: white;
}

.HomeButton{
	-fx-text-fill: white;
}

.HomeButton .content{
	-fx-background-color: #1d1d1d;
	
}