/* Text Area Stylings */
.text-area1 {
    -fx-background-image: url("topBackground.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-text-fill: white;
}

.text-area2 {
    -fx-background-image: url("bottomBackground.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-text-fill: white;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

/*List View/List Cell Stylings */
.list-view{
    -fx-background-image: url("cellBackground.png");
}

.list-cell:selected {
    -fx-background-color: blue ;
    -fx-background-image: none;
}

.list-cell {
	-fx-text-fill: white;
	-fx-background-image: url("cellBackground.png");

}
.list-cell:empty .list-cell {
    -fx-border-width: 0px;
}

/*Split Pane Stylings */
.split-pane:horizontal > .split-pane-divider {
   -fx-background-image: url("cellBackground.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-image: url("cellBackground.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

/* Create Stage Stylings */
.createText{
    -fx-background-image: url("cellBackground.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-text-fill: white;
}

.pane1{
    -fx-background-image: url("topBackground.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-text-fill: white;
}

.pane2{
    -fx-background-image: url("bottomBackground.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-text-fill: white;
}

/* End CSS Document */